# Ignore Visual Studio IDE folders
.vs/
.vscode/

# Ignore build output directories
**/bin/
**/obj/

# Ignore user-specific files
*.user
*.userosscache
*.suo
*.userprefs

# Ignore temporary files created by Visual Studio for debugging
*.suo
*.idb
*.pdb
*.log

# Ignore build results
[Dd]ebug/
[Dd]ebugPublic/
[Dd]Release/
[Dd]ReleasePublic/

# Ignore other system files
Thumbs.db
ehthumbs.db
